# ------ this is a template file for environment variables
# ------ env files are for storing private data such as secrets/passwords, API keys, hash sequence, and more.
# ------ use this file as a reference on what variables to set in your .env file
# ------ DO NOT delete this file

# ----- frontend -----
BACKEND_URL=http://localhost:8001

# ----- backend -----
# optional: if wanna use gemini models
GOOGLE_API_KEY=your-google-api-key-here

# in src/week_2/data/
DB_NAME=jobs_d1.db

# model of ur choice
MODEL=llama3.1

# ollama
# use http://host.docker.internal:11434 when running with docker-compose
# use http://localhost:11434 when running manually without docker
OLLAMA_HOST=http://host.docker.internal:11434